@import "partials/font";
$l-blue: #3099d3;//lichtblauw
$d-blue: #2482bf;//donkerblauw
$center: 0 auto;//centreren die handel
$screen-width: 960px;//standaard breedte: 

body{
	background-color: $l-blue;
}
#buitenkant{
	background-color: $d-blue;
	height: 999px;
	position: fixed;
	top: 412px;
	width:100%;	
	z-index:-1;
}
#container{
	width: $screen-width;
	margin: $center;
	#top{
		background-color: $l-blue;
		padding-top:2%;
		img{
			width:50%;
			padding-left:23.5%;
		}
		#pxlName{
			padding-top:1%;
			padding-bottom:5%;
		}
	}
	#bottom{
		background-color: $d-blue;
		width: $screen-width; // breedte van het vak 
		margin: $center;
		height: $screen-width/5;

		#social{
			padding-left: 41.5%;
			padding-bottom: 2%;
			img{
				padding-left: 2%;
				width: $screen-width/16;	
			}
		}
		#baseline{
			font-family: myriad, sans-serif;
			color:#fff;
			font-size: 35px;
			padding-top: 2%;
			padding-bottom: 2%;
			padding-left: 25%;
		}		
	}
}