//
// mixin for bullet proof font declaration syntax
//
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('../font/#{$font-filename}.ttf'),
			url('../font/#{$font-filename}.eot')/* IE9 */;
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}
	@include declare-font-face(myriad, 'myriad', 200);
#baseline{
	font-size: 40px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 26%;
}
